body {
  background-color: lightgoldenrodyellow;
}
@font-face {
  font-family: "digital";
  src: url("./DIGITALDREAMSKEWNARROW.ttf")
}
button {
  background-color: lightgray;
  border-radius: 5px;
  margin: 5px;
}
input {
  margin: 5px;
}
.message-board-container {
  margin: 5vh 5%;
  max-height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  background-color: darkorange;
  border-radius: 5px;
}
.name-field {
  border-radius: 3px;
}
.message-board {
  display: grid;
  grid-column: 1 / 4;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 5px;
}
#message-board-label {
  font-family: sans-serif;
  font-size: large;
}
#message-board-message {
  font-family: "digital";
  font-size: xx-large;
  background-color: black;
  color: rgb(0,222,0);
}
#message-board-form {
  grid-column: 1;
  font-family: sans-serif;
  display: grid;
  align-items: flex-end;
}
#message-board-save {
  grid-column: 2;
}
#message-board-buttons {
  grid-column: 3;
}
.message-board ul {
  list-style-type: none;
  padding-left: 0;
}
#message-board-form li,
#message-board-buttons li {
  margin: 0 5px;
}
#message-board-buttons button {
  min-width: 150px;
}
.board-container {
  margin: 5vh 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 15vh;
  grid-gap: 10px;
  background-color: darkgray;
}
.board-square {
  height: 100%;
  width: 100%;
  background-color: lightgoldenrodyellow;
  font-family: 'Cedarville Cursive', cursive;
  line-height: 15vh;
  font-size: 5rem;
  display: grid;
  align-content: center;
  justify-content: center;
}
@media only screen and (max-width: 780px) {
  .message-board-container {
    grid-template-rows: 4vh 10vh 20vh;
  }
  .board-container {
    grid-template-rows: 15vh 15vh 15vh;
  }
}
@media only screen and (min-width: 1280px) {
  .message-board-container {
    margin: 5vh 25%;
  }
  .board-container {
    margin: 5vh 25%;
  }
}
